@page "/"

<PageTitle>Página Inicial</PageTitle>

<h1>Wesley Farias</h1>

Olá, esse é o meu teste para desenvolvedor de software .NET
<ul>
    <li><a href="https://github.com/wesleyfariasdev">Github Atual</a></li>
    <li><a href="https://github.com/Ssousuke">Github Antigo</a> - Fui assaltado e perdi o acesso</li>
    <li><a href="https://www.linkedin.com/in/wesleymfarias/">Linkedin</a></li>
</ul>